/*
-- Olympia Specific CSS Modifications --
README!
Welcome to the CSS modofication file for the theme. This is where you will customize the theme to your liking.
The data in which each Content-x holds is pretty self explainatory, hopefully the CSS item names are too.
*/

/*Overall Scheme*/

/*Heading Modifier*/
hr.about-header {
        border: 0;
        height: 2px;
        background-color: white;
        width: 185px;
        margin-top: -10px;
      }

/* Buttons */
.btn-primary {
  background-color: transparent;
  color: #0b193d;
  border: 2px solid #0b193d;
}

.btn-primary:hover {
  background-color: #0b193d;
  border: 2px solid #0b193d;
  color: white;
  transition: all 0.5s ease 0s;
}

.btn-success {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.5s ease 0s;
}

.btn-success:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

/* NAVBAR */
.navbar {
	background-color: #e5e5e5;
  border: none;
}

.navbar .navbar-brand {
  background-color: #0b193d;
  color: white;
}

.navbar .navbar-brand:hover {
  background-color: #0b193d;
  color: white;
}

.navbar .nav li a {
	color: #0b193d;
}

.navbar .nav li a:hover {
	background-color: #0b193d;
	color: white;
}

/*Content 1*/
.content-1 {
  text-align: center;
  color: white;
}
.content-1 .jumbotron {
  /*Paralax Effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 250px;
  padding-bottom: 250px
}

/*Content 2*/
.content-2 {
	background-color: #0b193d;
	margin-top: -30px;
}

.content-2 .col-md-8, .content-2 .col-md-4 {
	text-align: center;
	color: white;
  padding-top: 30px;
  padding-bottom: 10px;
}

.content-2 .col-md-8 {
padding-bottom: 50px !important;
}

.content-2 .col-md-4 img {
	max-width: none !important;
	width: 300px;
  padding-top: 20px;
}

.content-2 .col-md-8 a {
	float: center;
}

.content-2 .col-md-8 h2 {
	margin-bottom: 20px;
}


.content-2 .col-md-8 p {
	font-size: 1.125em;
	text-align: center;
}

/* RESPONSIVE SCALING */
/* DO NOT TAMPER WITH THIS(UNLESS YOU KNOW WHAT YOU ARE DOING)! */

@media (min-width: 1516px) {
  .content-2 .col-md-8, .content-2 .col-md-4 {
  	padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
}
